
body{
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
    margin: 0 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
   
}

/*first section   */
.s1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    min-width: 800px;
    margin-bottom: 65px;
  
}

ul
{
    display: flex;
    list-style-type: none;
    gap:12px;
    padding: 0;
    margin: 0;

}
.header
{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    font-weight: bold;
}
.up
{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
   
    padding: 0px 200px 100px 200px;
    flex:1 1 auto;
    
}

#eren-yeager
{box-sizing: border-box;
width:200;
height: auto;
border: none;}
.links
{
    font-size: 18px;
    color: #e5e7eb;
}



.s2 p
{
    display: flex;
    flex-direction: row ;
     flex:1 1 auto;
    
     
     height: auto;
    margin: 0 0;
    flex-wrap: wrap;
}
.s2
{
    flex-direction: row;
    display: flex;
   align-items:start;
   gap:50px;
   
   justify-content: flex-start;
   flex: 1 1 auto;
  width: 800px;
}

#hero
{
    font-size: 48px;
    font-weight: bold;
    color:#f9faf8;
 

}
.left-side
{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap:4px;
}

button
{
   margin-top: 5px;
    flex-grow:0 ;
   height: 40px;
   width: 120px;
    padding: 1px 3px;
    background-color: #3882f6;
    border-radius: 7px;
    font-size: 18px;
    color:#f9faf8;
    font-weight: bold;
}


.sec
{
    font-size: 18px;
    color: #e5e7eb;
}


/*second section */
.favanime
{
    font-size: 36px;
    color:#1f2937;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px 10px  ;
    margin: 10px 0 20px;
}
.s3
{
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}
img
{
    box-sizing: border-box;
    width: 250px;
    height: 130px;
    flex:0 1 auto;
    border-style: solid;
    border-color: rgba(105, 105, 235, 0.877);
    border-radius: 6px;
    padding: 0;
    border-width: 4px;
}
#ani
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    
}
.anime 
{
    display: flex;
    flex-direction: row;
}
.animes ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap:40px;
}

/*third section */
.s4
{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 90px 40px;
    justify-content: center;
    align-items: end;
    flex:1 1 auto;
    font-weight: lighter;
}
#jake
{
   font-weight: bold;
}

/*fourth section */
.s5
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 40px;
}
.container
{
    display: flex;
    flex-direction: row;
   background-color: #3882f6;;
   padding: 40px 100px;
   
   align-items: center;
   gap: 35px;
    flex-grow: 1;
   width: 300px;
   flex-basis: auto;
   max-width: max-content;
}
#b2
{
    border:3px solid white;
}
.container p
{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.left 
{
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 18px;
    color:#f9faf8;
   
}
.left p
{
    margin-bottom: 5px;
    margin-top: 0;
}

/* footer*/
.footer
{
    display: flex;
    padding: 60px 50px;
    background-color:#1f2937 ;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;

}